/* #4FB0AC是发送消息主色调 */

/* ===============发送消息模块 =============== */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, b, pre, code, address, caption, cite, code, em, strong, table, th, td {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
}

strong {
    font-weight: bold;
}

ul, ol {
    list-style: none outside none;
}

fieldset, img {
    border: medium none;
    vertical-align: middle;
}

caption, th {
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font: 12px/20px "Microsoft Yahei", arial, 宋体, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #333;
    background: #ECF1F2 none repeat scroll 0 0;
    min-width: 1200px;
}

input, select, textarea, button {
    font: 12px/20px "Microsoft Yahei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

i, cite, em {
    font-style: normal; /*color:$mc;*/
}

input, button, select, textarea {
    outline: none;
    border-style: none;
}

button, input[type="button"] {
    cursor: pointer;
}

button:disabled, input[type="button"]:disabled {
    background-color: #e5e5e5;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ccc;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ccc;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #ccc;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #ccc;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html { /*min-height:101%;*/
}

/* 链接 */
a {
    color: #4FB0AC;
    text-decoration: none;
    outline: medium none;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    cursor: pointer
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #4FB0AC;
}

.tc {
    text-align: center !important;
}

.unl {
    text-decoration: underline;
}

/*指上显示小手*/
.cup {
    cursor: pointer;
}

/* Clearfix,避免因子元素浮动而导致的父元素高度缺失能问题 */
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

/*文字排版
******************************/
.f12 {
    font-size: 12px !important;
}

.f13 {
    font-size: 13px !important;
}

.f14 {
    font-size: 14px !important;
}

.f16 {
    font-size: 16px !important;
}

.f18 {
    font-size: 18px !important;
}

.f20 {
    font-size: 20px !important;
}

.f24 {
    font-size: 24px !important;
}

.fb {
    font-weight: bold !important;
}

.fn {
    font-weight: normal !important;
}

.t2 {
    text-indent: 2em;
}

.lh150 {
    line-height: 150% !important;
}

.lh180 {
    line-height: 180% !important;
}

.lh200 {
    line-height: 200% !important;
}

.unl {
    text-decoration: underline;
}

.no_unl {
    text-decoration: none;
}

.noborder {
    border-style: none !important;
    border-width: 0 !important;
}

/*Placeholder模拟*/
.comPlaceholder {
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 13px 0 !important;
    height: 14px;
    font-size: 14px;
    color: #CDCDCD;
}

.bgContainer {
    width: 100%;
    background: #ECF1F2;
}

.maincontentTit {
    font-size: 18px;
    color: #333333;
    height: 90px;
    line-height: 110px;
    width: 1120px;
    margin: 0 auto;
}

.suc-stusta {
    font-size: 12px;
    color: #3D9A4F;
    font-weight: bold;
}

.fail-stusta {
    font-size: 12px;
    color: #F14400;
    font-weight: bold;
}

/*------------------------引用头部与左边导航的公共div样式-----------------------*/
.og-top {
    height: 70px;
}

.og-head-main {
    width: 86%;
    position: relative;
    margin: 0 auto;
    float: right;
    background: #ECF1F2;;
}

.og-left {
    float: left;
    width: 14%;
    background: #0D1923;
}

.nodata-message {
    margin-top: 120px;
    margin-left: 532px;
    margin-right: 532px;
    width: 60px;
}

