/*肤色主调色*/
$mc: #2B7DE1;

/*常用字体颜色*/
$c33: #333;
$c66: #666;
$c47: #475669;
$c99: #999;
$cc0: #c0ccda;
$ccc: #ccc;
$ce2: #E2062C;
$c2a: #2a2a2a;
$c4a: #4A4A4A;
$cffa: #FFA812;
$cff2:#ff2600;
$c15:#151515;
$cff7:#FF7518;
$tblth:#535A64;
$priceRed:#f14400;
$bg-odd:#FFFCFA;
$bg-even:#fff;

/*常用公共颜色，背景色和字体颜色统一的*/
$c1:#266FC8;  /* c1-c4是当前主题色的渐进色 */
$c2:#f46a34;
$c3:#fbdacc;
$c4:#fff5ee;
$c5:#FCFDFF;
$cff: #fff;
$ccc: #ccc;
$cfb:#FBFDFF;
$cfa:#FAFAFA;

/*常用背景色*/
$c-dg:#228b22; /*deep green*/
$c-vdg:#007200; /*very deep green*/
$c-dy:#ffa812; /*deep yellow*/
$c-dr:#e2062c; /*deep red*/
$c-lg:#b8e986; /*light green*/
$c-ly:#fff9a9; /*light yellow*/
$c-lr:#ff6961; /*light red*/
$c-lp:#fbdacc; /*light pink*/

$cee: #eee;
$ce5: #e5e5e5;
$cf5: #f5f5f5;
$cf7: #f7f7f7;
$cf2:#f2f2f2;
$cfd:#fdfdfd;
$cef:#efefef;
